.fullhr {
    display: block;
    margin-left: -5em;
    margin-right: -5em;
    border-style: inset;
    border-width: 1px;
    margin-top: 0%;
    margin-bottom: 0em;
}

.demobox {
    height: 65px;
    width: 180px;
    background-color: red;
    margin-left: -1em;
    margin-top: -1em;
}

img {
    
    height: 35px;
    width: auto; 
    margin-top: 12%;
    margin-left: 19%;
}

.firstBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.125%;
    margin-top: -.5%;
}

.firstBar i {
    margin-left: 1.5%;
}

.secondBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondBar i {
    margin-left: 1.5%;
}

/*  !!!!HEAD TAG ENDS HERE!!!!  */
/*  !!!!BODY TAG STARTS HERE!!!!  */

.roundCorner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 4%;
    margin-right: 4%;
}

.roundCorner p {
    border-radius: 25px;
    background: red;
    padding: 15px; 
    width: 240px;
    height: 100px; 
    margin-left: 1%;
    margin-right: 1%;
    color: rgb(245, 239, 222);
    font-size: 1.5em;
}

h3 {
    margin-left: 3%;
    margin-bottom: 0%;
}

.superBlock {
    background: red;
    height: 175px; 
    margin-left: -.5em;
    margin-right: -.5em;
    margin-top: -.1em;
    padding: .025px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -0.125%;
    margin-top: -.5%;
}

.superBlock i {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -.25em;
    margin-right: -.25em;
}

.superBlock p {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(245, 239, 222);
    font-size: 3em;
    padding: 5px;
}

.couponBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 12em;
    margin-right: 12em;
    background: red;
    padding: 15px; 
    width: 60em;
    height: 10em;
    border-radius: 25px;
}

.couponBlock p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: rgb(224, 222, 188);
    border-radius: 25px;
    color: rgb(120, 0, 0);
}

.copyBar p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.copyBar i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 3px;
}