/*hr {
    display: block;
    margin-left: -5em;
    margin-right: -5em;
    border-style: inset;
    border-width: 1px;
    margin-top: 0%;
}*/

.fullhr {
    display: block;
    margin-left: -5em;
    margin-right: -5em;
    border-style: inset;
    border-width: 1px;
    margin-top: 0%;
}

.demobox {
    height: 65px;
    width: 180px;
    background-color: red;
    margin-left: -1em;
    margin-top: -1em;
}

img {
    
    height: 35px;
    width: auto; 
    margin-top: 9%;
    margin-left: 19%;
}

.firstBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -0.5%;

}

